<div class="btn-wrapper">
	<h1>About Out-There</h1>
	<div class="col-sm-2"></div>
	<div class="col-sm-8">

		<p>"Out-There" was conceived from my love of traveling and immersing myself into different cultures . I wanted to figure out a way to share this love with others, which is how "Out-There" was born. 
			"Out-there" allows the user the ability to view and gain perspective and knowledge into another country's culture, which has always fascinated me personally. 
			However, traveling can be expensive. From my love and passion, I created "Out-There".  Thanks to Google Maps and Instagram, "Out-There" allows users to feel like travelers and learn about different regions and what's happening in the area locally, from the inexpensive convenience of their own home and Internet! </p>
		</div>
</div>
		
		<p>© Jay C. Davé 2015</p>

