// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-wrapper{
	text-align: center;
}

#map-canvas {
 height: 300px;
 width: 100%;
 margin: 0px;
 padding: 0px
}

#panel {
	position: relative;
	top: 5px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: none;
}

.modal-backdrop {
  z-index: -1;
}

#modal_target > div.modal-dialog > div > div.modal-body{
	margin: none;
}

#modal_target > div.modal-dialog > div > div.modal-body > ul{
    margin: -15px 0px -16px -27px;
}

.copy_write{
	padding:5%;
}

.modal-backdrop.fade{
	opacity: .5;
}

.insta_list{
background-color:red;
}

#instgram_image{
	width:100%;
}
