<div class="panel">
	<input id="address" type="textbox" value="San Francisco, CA">
	<input type="button" class="btn btn-default btn-sm" value="Search" onclick="codeAddress()">
</div>

<div class="btn-wrapper">
	<div class="panel">
		<input onclick="clearMarkers();" type=button class="btn btn-default btn-sm" value="Hide Markers">
		<input onclick="showMarkers();" type=button class="btn btn-default btn-sm" value="Show All Markers">
		<input onclick="deleteMarkers();" type=button class="btn btn-default btn-sm" value="Delete Markers">
	</div>

	<div class="btn btn-danger btn-lg get_photo" data-toggle="modal" data-target="#modal_target">Get Photos</div>
</div>

