<div class="btn-wrapper">
	<div id="map-canvas"></div>
	<div id="panel">
		<input onclick="clearMarkers();" type=button value="Hide Markers">
		<input onclick="showMarkers();" type=button value="Show All Markers">
		<input onclick="deleteMarkers();" type=button value="Delete Markers">
	</div>


	<div class="btn btn-primary">Get Photos</div>
</div>

