<div class="btn-wrapper copy_write">
	<h6>© Jay C. Davé 2015</h6>
</div>
<script>
var codeAddressLat;
var codeAddressLng;
var addMarkerLat;
var addMarkerLng;
var locationLat;
var locationLong;
var accessToken;
var mediaEndPoint;



$(document).ready(function(){
var accessToken="271040506.401f368.1208ccda57f8401eac982f8bc40d5e54";

	$('.get_photo').click(function(){

		if (addMarkerLng !== null  &&  addMarkerLat !== null ) {
			locationLong=addMarkerLng;
			locationLat=addMarkerLat;
			console.log("Add Marker " + mediaEndPoint)
		}else{
			alert("Oops! Something went wrong, please try again!")
		}
		mediaEndPoint = "https://api.instagram.com/v1/media/search?lat=" + locationLat + "&lng=" + locationLong + "&access_token=" + accessToken + "&callback=?";

		$(".insta-list").empty();

		$.getJSON(mediaEndPoint, function(jsonResult){

			var items = jsonResult["data"];
			var container =[]
			$.each(items, function(){
				var val = this["images"]["standard_resolution"]["url"]
				container.push("<img id='instgram_image' src=" + val + ">" );

			});
			$("<div>",{
				"class": "insta-list",
				html: container.join( "" )
			}).appendTo(".modal-body");
		})

	});
});

</script>