
<script>
var geocoder;
var map;
var markers = [];

function initialize() {
	geocoder = new google.maps.Geocoder();
	var latlng = new google.maps.LatLng(37.7845732, -122.39744000000002);
	var mapOptions = {
		zoom: 8,
		center: latlng,
		scrollwheel: false
	}

	map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

	function addMarker(location) {
		var marker = new google.maps.Marker({
			position: location,
			map: map
		});
		markers.push(marker);
		console.log("I am the lat for addMarker: "+marker.position.k)
		console.log("I am the lng for addMarker: " + marker.position.D)
		
	}	

	google.maps.event.addListener(map, 'click', function(event) {
		addMarker(event.latLng);
	});
	addMarker(latlng);
	console.log("I am the starting lat after addMarker is called: "+latlng.k)
	console.log("I am the starting lng after addMarker is called: "+latlng.D)

}


function setAllMap(map) {
	for (var i = 0; i < markers.length; i++) {
		markers[i].setMap(map);
	}
}

function clearMarkers() {
	setAllMap(null);

}

function showMarkers() {
	setAllMap(map);
}

function deleteMarkers() {
	clearMarkers();
	markers = [];
}

function codeAddress() {
	var address = document.getElementById('address').value;
	geocoder.geocode( { 'address': address}, function(results, status) {
		if (status == google.maps.GeocoderStatus.OK) {
			map.setCenter(results[0].geometry.location);
			var marker = new google.maps.Marker({
				map: map,
				position: results[0].geometry.location,
			});
			markers.push(marker)
			console.log("I am the lng in codeAddress function: "+marker.position.D)
			console.log("I am the lat in codeAddress function: "+marker.position.k)
		} else {
			alert('Geocode was not successful for the following reason: ' + status);
		}
	});
}


$('.navbar-brand').click(function() {
	location.reload()
});	

google.maps.event.addDomListener(window, 'load', initialize);


</script>
<div id="map-canvas"></div>


