<div class="modal fade" id="modal_target" role="dialog">  
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>header</h3>
			</div>
			<div class="modal-body">
				<h4>body</h4>
			</div>
			<div class="modal-footer">
				<h6>footer</h6>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
